<div class="tabs-section">
  <div class="tabs-section__container">
    <h5 class="title-1">Top Destinations</h5>
    <p class="tabs-section__subtitle">Sost Brilliant reasons Entrada should be your one-stop-shop!</p>
    <div class="tabs">

      <input id="tabsSwitch1" class="tabs__switch" name="tabs" type="radio" checked>
      <input id="tabsSwitch2" class="tabs__switch" name="tabs" type="radio">
      <input id="tabsSwitch3" class="tabs__switch" name="tabs" type="radio">
      <input id="tabsSwitch4" class="tabs__switch" name="tabs" type="radio">
      <input id="tabsSwitch5" class="tabs__switch" name="tabs" type="radio">
    
      <input id="tabsDropSwitch" type="checkbox">
      <label class="tabs-drop-button" for="tabsDropSwitch">Choose a destination</label>
    
      
      <div class="tabs__navigation">
        <label for="tabsSwitch1">London</label>
        <label for="tabsSwitch2">Bangkok</label>
        <label for="tabsSwitch3">England</label>
        <label for="tabsSwitch4">Singapore</label>
        <label for="tabsSwitch5">Italy</label>
      </div>
    
      <ul>
        <li>
          <div class="tabs__gallery">
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-1.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-2.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-3.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-4.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-5.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-6.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="tabs__gallery">
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-1.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-2.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-3.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-4.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-5.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-6.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="tabs__gallery">
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-1.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-2.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-3.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-4.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-5.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-6.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="tabs__gallery">
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-1.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-2.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-3.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-4.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-5.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-6.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="tabs__gallery">
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-1.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-2.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-3.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
            <div class="tabs__gallery-item">
              <a href="#" style="background-image: url('img/top-4.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-5.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
              <a href="#" style="background-image: url('img/top-6.jpg')">
                <span class="tabs__gallery-rating">3.5</span>
                <p class="tabs__gallery-title">
                  <span>Vientam</span>
                  <span>Worefall</span>
                </p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    
    </div>
  </div>
</div>
