// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// footer
.footer {
  padding: 8rem 0;
  &__container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__column {
    p {
      margin-bottom: 4rem;
    }
  }
  &__logo {
    margin-bottom: 2rem;
  }
}

.footer-socials {
  display: flex;
  gap: 14px;
  a {
    transition: var(--transition-2);
    @media (any-hover: hover) {
      &:hover {
        filter: opacity(75%);
        // filter: contrast(200%);
        // filter: blur(1px);
        transform: scale(1.1);
      }
    }
  }
}