// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
.form-section {
  padding: 8rem 10px;
  text-align: center;
  h6 {
    font: 600 4rem / calc(40 / 40 * 100%) "Inter";
    margin-bottom: 1.6rem;
  }
  p {
    font: var(--font-8);
    margin-bottom: 4rem;
    @media (min-width: 769px) {
      max-width: 415px;
    }
  }
  &__container {
    background: var(--background-1);
    background-color: var(--color-7);
    padding: 7.5rem 15px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    display: grid;
    justify-content: center;
    border-radius: 60px;
    overflow: hidden;
  }
}