// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================

// about

// .discover {
//   margin-top: 10px;
//   &__container {
//     // background-color: yellow;
//     // display: flex;

//     display: grid;
//     align-items: center;
//     gap: 6.7rem;

//     grid-template-columns: 1fr 53.4rem;
//     @media (max-width: 768px) {
//       grid-template-columns: 1fr 43.4rem;
//       gap: 10px;
//     }

   
//      @media (max-width: 480px) {
//       display: block;
//      }

//     // display: flex;
//     // justify-content: space-between;
//     // align-items: center; 
//   }

// // ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// // ===================================================================================================================================================================================================================================================================================================================================================================================================================================

//   &__information {

//     // flex: 0 0 577px;

//     position: sticky;
//     top: 0;
//     z-index: 1;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;

//     // flex: 1 1 auto;
//     // margin-top: 6.4rem;

//     // padding-right: 6.7rem;

//     // padding-right: 4rem;

//   }
//   &__information-title {
//     font: 700 8.4rem / calc(86 / 84 * 100%) "Sen";
//     margin-bottom: 3rem;
//     @media (max-width: 992px) {
//       font: 700 6rem / calc(62 / 60 * 100%) "Sen";
//     }
//   }
//   &__information-text {
//     font: 400 18px / calc(28 / 18 * 100%) "Inter";
//     margin-bottom: 4.4rem;
//     @media (max-width: 992px) {
//       font: 400 14px / calc(18 / 14 * 100%) "Inter";
//     }
//   }
//   &__information-link {
//     background-color: brown;
//     color: white;
//     border-radius: 10px;
//     padding: 10px;
//     align-self: start;
//   }

// // ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// // ===================================================================================================================================================================================================================================================================================================================================================================================================================================

//   &__image {
//     // flex: 0 0 53.4rem;
//     // height: 55.5rem;
//     // @media (max-width: 768px) {
//     //   height: 35.5rem;
//     // }
//   }
//   @media (max-width: 480px) {
//     overflow: hidden;
//     position: relative;
//     img,
//     picture,
//     svg,
//     video,
//     iframe,
//     source {
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       object-fit: cover;
//     }
//   }

// }

// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================



// ===================================================================================================================================================================================================================================================================================================================================================================================================================================
// ===================================================================================================================================================================================================================================================================================================================================================================================================================================


.our {
  margin-top: 10px;
  &__container {
    display: grid;
    gap: 6.7rem;
    // gap: 4.4rem;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column-reverse;
    }
    @media (min-width: 769px) {
      align-items: center;
      // grid-template-columns: repeat(2, 1fr);
      grid-template-columns: 54.1rem 1fr;
    }
  }
  &__image {
    background-color: var(--color-5);
    // max-height: 350px;
    padding-bottom: 107.6%;
    
  }
  &__info {
    position: sticky;
    top: 0;
    z-index: -1;
    background-color: var(--color-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (max-width: 768px) {
      order: 2;
    }
    h3 {
      font: 700 8.4rem / calc(86 / 84 * 100%) "Sen";
      margin-bottom: 3rem;
      @media (max-width: 992px) {
        font: 700 6rem / calc(62 / 60 * 100%) "Sen";
      }
    }
    p {
      font: 400 18px / calc(28 / 18 * 100%) "Inter";
      margin-bottom: 4.4rem;
      @media (max-width: 992px) {
        font: 400 14px / calc(18 / 14 * 100%) "Inter";
      }
    }
    a {
      font: var(--font-8);
      background-color: var(--color-1);
      color: var(--color-2);
      padding: 2rem 5rem;
      border-radius: 16px;
      margin-top: 7.2rem;
      transition: background-color var(--transition-1);
      @media (any-hover: hover) {
      &:hover {
      background-color: var(--color-9);
      }
      }
      @media (max-width: 992px) {
        margin-top: 4rem;
      }
    }
    ul {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      li {
        flex: 1 1 auto;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 14px;
        padding: 2.6rem;
      }
      p {
        color: var(--color-3);
        font: var(--font-11);
        margin-bottom: 1.8rem;
        &:empty {
          &:before {
            content: "0";
          }
        }
      }
      span {
        color: var(--color-10);
        font: var(--font-12);
      }
    }
  }
  &__info-subtitle {
    font: var(--font-3);
    color: var(--color-3);
    letter-spacing: 0.2em;
    margin-bottom: 2rem;
  }
}
